.git
.osp
.osp

node_modules
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/storage

storage/app/*
!storage/app/.gitignore
!storage/app/private/.gitignore
!storage/app/public/.gitignore
!storage/app/public/.htaccess
storage/debugbar/*
!storage/debugbar/.gitignore
storage/framework/*
!storage/framework/cache/data/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/framework/.gitignore
storage/logs/*
!storage/logs/.gitignore

tests
vendor

.dockerignore
.editorconfig
.env
.env.*
.gitattributes
.gitignore
docker-compose.yml
Dockerfile
phpstan.neon
phpunit.xml
pint.json
pnpm-lock.yaml
README.md
rector.php
